node_modules
.idea
.gitignore
.npmignore
src
tests
coverage
README.md
README_res
.prettierignore
.prettierrc.json
eslint.config.mjs
jest.config.json
test-report.html
junit.xml
package-lock.json
yarn.lock
tsconfig.json
tsconfig.tsbuildinfo
.gitlab-ci.yml
.gitlab-ci.yaml
.git
